
<div class="m-5">
    <h3>
        The present template is a (slightly) customized version of 
        the <a class="bold" href="https://startbootstrap.com/previews/simple-sidebar/">Simple Sidebar template</a> 
        from StartBootstrap.com.
    </h3>

    It makes use of a few CSS and JS libraries in addition to internal YBQ Javascript libraries:
    
    <ul class="mt-5">
        <li>
            <a href="https://getbootstrap.com">Bootstrap 4</a>
        </li>
        <li>
            <a href="https://fontawesome.com/icons?from=io">FontAwesome 5</a>
        </li>
        <li>
            <a href="https://www.nuget.org/packages/Expoware.Youbiquitous.Core/">Youbiquitous .NET Core Helper Nuget package</a>
        </li>
    </ul>
</div>
